.filled{
    background: #3498DB;
    border-radius: 5px;
    width: 10%;
    height: 50px;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    &:hover{
        transition:ease .35s;
        transform: translate(0, 8px)
    }
}