.feature__container,
.section__container,
.hero__container,
.membership,
.membership__card {
  display: flex;
}
section:not(:last-of-type) {
  padding: 0 3rem;
}

.hero__container {
  flex-direction: column;
  justify-content: center;
}

.hero__container {
  background: url("../../assets/image/hero_Image.png");
  background-position: bottom -100px right -160px;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
  //   border: 1px solid blue;
  position: relative;

  h1,
  p {
    font-family: Lato;
    font-style: normal;
    // font-size: 48px;
  }

  h1 {
    width: 40%;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
  }

  p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #282828;
  }
}

.section__container--header {
  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */

    text-align: center;
    // margin: 0;

    color: #282828;
  }
  p {
    color: #3498db;
    font-size: 24px;
    margin: 0;
  }
}

.feature__container {
  justify-content: center;
  height: 400px;
  align-items: center;
}

.section__container {
  flex-wrap: wrap;
  justify-content: space-between;
  header {
    width: 100%;
  }
}

.membership {
  height: 500px;
  // border: 1px solid black;
}
.section__container.membership {
  header:nth-child(1n) {
    text-align: center;
  }
}

.free {
  padding: 1rem;
}

.membership__card {
  justify-content: space-evenly;
  flex-direction: column;

  .gold,
  .premium {
    padding: 2rem;
    color: #fff;
    font-weight: bold;
  }
  .gold {
    background: #eec460;
    // padding: 3rem;
  }

  .premium {
    background: #3498db;
    // padding: 3rem;
  }

  h1 {
    text-align: left;
  }

  // padding: 1rem;
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.list__item::before,
.unavailable::before {
  font-weight: bold;
  margin-right: 1rem;
}
.list__item::before {
  content: "\2713";
  color: green;
  font-weight: bold;
  margin-right: 1rem;
}
.unavailable::before {
  content: "\2715";
  color: red;
  // font-weight: bold;
}

.membership__card--list {
  padding: 0;
  // border: 1px solid red;
}

.Testimonials {
  background: #3498db;
  height: 600px;
}
